@import "design_token.css";
.realtimeLocal {
  font: var(--font-main);
  font-weight: medium;
  color: var(--text-secondary);
  size: 18px;
}
.realtimeTime {
  color: var(--text-primary);
  size: 18px;
  width: min-content;
  height: min-content;
}

.skillforge {
  font: var(--font-main);
  width: min-content;
  height: min-content;
  color: var(--text-primary);
  font-size: 70px;
  width: min-content;
  height: min-content;
}
