<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SKILLFORGE</title>
    <link rel="stylesheet" href="../static/css/navbar.css" />
  </head>
  <body>
    <navbar class="navbar">
      <logo class="navbar__title">
        <div class="navbar__title__logo logo">
          <div class="logo__element"></div>
          <div class="logo__element"></div>
          <div class="logo__element"></div>
          <div class="logo__element"></div>
        </div>
        <div class="navbar__title__text-container">
          <p class="navbar__title__text">Основное</p>
          <p class="navbar__title__text">Меню</p>
        </div>
      </logo>

      <ul class="navbar__menu menu">
        <li class="menu__item">
          <a class="menu__item__button button" href="/main">
            <div class="button__text">Основное</div>
            <img
              class="button__icon"
              src="../static/media/navbar/основное.png"
              alt=""
            />
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__item__button button" href="/orders">
            <div class="button__text">Заказы</div>
            <img
              class="button__icon"
              src="../static/media/navbar/заказы.png"
              alt=""
            />
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__item__button button" href="/applications">
            <div class="button__text">Заявки</div>
            <img
              class="button__icon"
              src="../static/media/navbar/заявки.png"
              alt=""
            />
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__item__button button" href="/my_profile">
            <div class="button__text">Мой профиль</div>
            <img
              class="button__icon"
              src="../static/media/navbar/Мой профиль.png"
              alt=""
            />
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__item__button button" href="/about">
            <div class="button__text">О нас</div>
            <img
              class="button__icon"
              src="../static/media/navbar/О нас.png"
              alt=""
            />
          </a>
        </li>
      </ul>
    </navbar>
  </body>
</html>
