<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SKILLFORGE</title>
    <link rel="stylesheet" href="../static/css/navbar.css" />
    <link rel="stylesheet" href="../static/css/often_obj.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/design_token.css" />
    <link rel="stylesheet" href="../static/css/register.css" />
    <link rel="stylesheet" href="../static/css/register-modal.css" />
  </head>
  <body>
    <!-- Навигационная панель -->
    <navbar class="navbar">
      <logo class="navbar__title">
        <div class="navbar__title__logo logo">
          <div class="logo__element"></div>
          <div class="logo__element"></div>
          <div class="logo__element"></div>
          <div class="logo__element"></div>
        </div>
        <div class="navbar__title__text-container">
          <p class="navbar__title__text">Основное</p>
          <p class="navbar__title__text">Меню</p>
        </div>
      </logo>

      <ul class="navbar__menu menu">
        <li class="menu__item">
          <a class="menu__item__button button" href="/main">
            <div class="button__text">Основное</div>
            <img
              class="button__icon"
              src="../static/media/navbar/основное.png"
              alt=""
            />
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__item__button button" href="/orders">
            <div class="button__text">Заказы</div>
            <img
              class="button__icon"
              src="../static/media/navbar/заказы.png"
              alt=""
            />
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__item__button button" href="/applications">
            <div class="button__text">Заявки</div>
            <img
              class="button__icon"
              src="../static/media/navbar/заявки.png"
              alt=""
            />
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__item__button button" href="/my_profile">
            <div class="button__text">Мой профиль</div>
            <img
              class="button__icon"
              src="../static/media/navbar/Мой профиль.png"
              alt=""
            />
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__item__button button" href="/about">
            <div class="button__text">О нас</div>
            <img
              class="button__icon"
              src="../static/media/navbar/О нас.png"
              alt=""
            />
          </a>
        </li>
        <li class="menu__item">
          <button
            class="menu__item__button button"
            type="button"
            id="registerOpenBtn"
          >
            <div class="button__text">Регистрация</div>
          </button>
        </li>
      </ul>
    </navbar>
    <div
      class="imgs-after-cursor iac"
      onmouseenter="fl1()"
      onmouseleave="fl0()"
    >
      <!-- Реальное время -->
      <date class="realtimeLocal"
        >LOCAL&nbsp /&nbsp <time class="realtimeTime">00:00:00</time></date
      >
      <div class="iac__content">
        <h1 class="skillforge">SKILLFORGE</h1>
        <p class="iac__content__description">
          Платформа фриланса с красивым интерфейсом для поиска заказов,
          портфолио и верификации исполнителей.
        </p>
      </div>
    </div>

    <!-- Модальное окно регистрации -->
    <div class="register-modal-overlay is-open" id="registerModalOverlay">
      <div class="register-window">
          &times;
        </button>

        <h1 class="register-window__title">Регистрация аккаунта</h1>

        <div class="register-window__field">
          <label class="register-window__label" for="email">Почта</label>
          <input
            class="register-window__input"
            type="email"
            id="email"
            placeholder="Введите почту"
          />
        </div>

        <div class="register-window__field">
          <label class="register-window__label" for="fullname">ФИО</label>
          <input
            class="register-window__input"
            type="text"
            id="fullname"
            placeholder="Введите ФИО"
          />
        </div>

        <div class="register-window__field">
          <label class="register-window__label" for="password">Пароль</label>
          <input
            class="register-window__input"
            type="password"
            id="password"
            placeholder="Введите пароль"
          />
        </div>

        <div class="register-window__field">
          <input
            class="register-window__input"
            type="password"
            id="password-confirm"
            placeholder="Подтвердите пароль"
          />
        </div>

        <button class="register-window__submit" type="button">
          Зарегистрироваться
        </button>

        <button class="register-window__yandex" type="button">
          <img
            class="register-window__yandex-icon"
            src="../static/media/sistem-media/yandex.png"
            alt="Яндекс"
          />
          Продолжить с Яндекс
        </button>

        <p class="register-window__footer">
          Уже есть аккаунт? <a class="register-window__link" href="#">Войти</a>
        </p>
      </div>
    </div>
    <script src="../static/js/register-modal.js"></script>
    <script src="../static/js/realtime.js"></script>
    <script src="../static/js/shleif_cursor.js"></script>
  </body>
</html>
